ul{
    line-height: 2em;
}
ul summary{
    cursor: pointer;
}
ul summary::marker{
   content: none;
}
ul summary::-webkit-details-marker{
    content: none;
}

ul li{
    position: relative;
}
ul li::before{
    position: absolute;
    left:-10px;
    top: 0;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    content: '';
    width: 9px;
    height: 20px;
}
ul li::after{
    position: absolute;
    left:-10px;
   bottom: 0;
    border-left: 2px solid gray;
    content: '';
    width: 8px;
    height: 100%;
}

ul li:last-child::after{
    display: none;
}
ul.tree > li::after, ul.tree > li::before{
    display: none;
}
ul summary::before{
    position: absolute;
    left: -1.75em;
    top:.5em;
    content: '+';
    background-color: orange;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50em;
    z-index: 999;
    text-align: center;
    line-height: .8em;
}
ul details[open] > summary::before{
    content: '-';
}
